<!--###TEMPLATE_DEFAULT### begin
	Help template for the default language, english
-->
  <!--###LIST_HEADER### begin -->
  <div ###HEADERCLASS###>
    <!-- <div ###HEADER_PREVIEW_CLASS###>###HEADER_PREVIEW###&nbsp;</div> -->
    <div ###HEADER_NAME_CLASS###>###HEADER_NAME###&nbsp;</div>
    <div ###HEADER_SHORTTEXT_CLASS###>###HEADER_SHORTTEXT###&nbsp;</div>
  </div>
  <!--###LIST_HEADER### end -->
	<!--###LIST_ROW### begin -->
	<div ###ROWCLASS###>
		<!--###LIST_COL### begin -->
		<table border="0" cellspacing="0" cellpadding="0"><tr><td>
		<div ###PREVIEW_CLASS###>###PREVIEW###&nbsp;</div>
		<div class="mm-reflist-right-block">
			<div ###NAME_CLASS###>###NAME###</div>
			<div ###SHORTTEXT_CLASS###>###SHORTTEXT###</div>
		</div>
		</td></tr></table>
		###EDITPANEL### 
		<!--###LIST_COL### end -->
	</div>
	<!--###LIST_ROW### end -->
<!--###DEBUGINFO### begin -->
<!--
<hr>
All available field names: (Remove that section in a production release)<br>
###ALLFIELDNAMES###
<hr>
-->
<!--###DEBUGINFO### end -->
<!--###TEMPLATE_DEFAULT### end -->