<!--###TEMPLATE_DEFAULT### begin
	Help template for the default language, english
-->
<H2>###FIELD_NAME###</H2>
<table width="100%" border="0">
  <tr>
    <td align="left" valign="top">
    <div ###TABLECLASS###>
        <!--###SINGLEVIEW### begin -->
        <div class="tx-mmreflist-pi1-singleView">
          <div ###FIELD_NAME_CLASS###><h2>###FIELD_NAME###</h2></div>
          <div ###FIELD_IMAGE_CLASS###>###FIELD_IMAGE###</div>
          <div ###FIELD_DESCRIPTION_CLASS###>###FIELD_DESCRIPTION###</div>
          <div ###FIELD_GROUPNAME_CLASS###>###FIELD_GROUPNAME###</div>
		  <div ###FIELD_EMAIL_CLASS###>###FIELD_EMAIL###</div>
		  <div ###FIELD_WEB_CLASS###>###FIELD_WEB###</div>
		 </div>
        <!--###SINGLEVIEW### end -->
      </div>
    </td>
  </tr>
</table>
Last update: ###SYS_LASTUPDATE###<br><br>
###SYS_BACKLINK### ###SYS_EDITPANEL###<br>
<!--
<hr>
All available field names: (Remove that section in a production release)<br>
###SYS_ALLFIELDS###
<hr>
-->
<!--###TEMPLATE_DEFAULT### end -->
